
 
 .search-box {
  padding: 6px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
}

  nav {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  nav a {
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    color: rgb(211, 9, 19);
  }

  nav a:hover {
    color: rgb(15, 115, 209);
  }
body {
  background-color: #d9ccc5; /* light blue, you can change the hex code */
}

  figcaption {
    font-weight: bold;
    font-style: italic;
  }

